In [1]:
import pandas as pd
import seaborn as sns

In [2]:
country_list={'Australia', 'Austria', 'Belgium', 'Brazil', 'Canada', 'Chile', 'Colombia', 'Costa Rica', 'Denmark',
 'Estonia', 'Finland', 'France', 'Germany' ,'Greece', 'Hungary', 'Iceland', 'Ireland', 'Israel', 'Italy', 'Japan', 
 'Latvia', 'Lithuania', 'Mexico', 'Netherlands', 'New Zealand', 'Norway', 'Poland', 'Portugal', 'Slovenia', 
 'South Africa', 'Spain', 'Sweden', 'Switzerland', 'Turkey'}

In [3]:
df = pd.read_csv('COVID-19_vaccination_rates.csv') 
df=df.loc[(df["date"]=="2021-10-25")].loc[(df["location"].isin(country_list))] # select date and countries
df=df[["location","people_fully_vaccinated_per_hundred"]] # reduce to countries and percentage of vaccinated ppl
df.rename(columns={'location': 'Country Name'}, inplace=True)
df

       Country Name  people_fully_vaccinated_per_hundred
3869      Australia                                61.01
4216        Austria                                62.03
6449        Belgium                                73.63
8779         Brazil                                52.13
10691        Canada                                73.73
12031         Chile                                76.72
12684      Colombia                                40.42
13655    Costa Rica                                  NaN
16024       Denmark                                75.72
18716       Estonia                                56.70
20911       Finland                                68.51
21258        France                                67.70
22709       Germany                                65.77
23655        Greece                                61.20
27056       Hungary                                59.39
27400       Iceland                                  NaN
28984       Ireland                                75.23
29660        Israel                                61.64
30007         Italy                                70.92
30577         Japan                                70.45
33421        Latvia                                52.64
35108     Lithuania                                63.67
38936        Mexico                                41.34
42276   Netherlands                                  NaN
42880   New Zealand                                58.40
45389        Norway                                68.28
48456        Poland                                52.51
48803      Portugal                                87.19
54904      Slovenia                                53.50
55664  South Africa                                19.48
56871         Spain                                79.69
58039        Sweden                                  NaN
58392   Switzerland                                62.92
61281        Turkey                                56.70

In [4]:
df0 = pd.read_csv('gdp_per_capita.csv') 
df0=df0.loc[(df0["Country Name"].isin(country_list))][["Country Name","2020"]] # select countries and reduce to gdp
df0.rename(columns={'2020': 'gdp_per_capita_2020'}, inplace=True)
df0

     Country Name  gdp_per_capita_2020
13      Australia         52397.387048
14        Austria         55648.874565
17        Belgium         52626.581638
29         Brazil         14829.890417
35         Canada         48090.992167
37    Switzerland         71760.586213
39          Chile         25067.691601
45       Colombia         14570.236743
48     Costa Rica         21143.342817
55        Germany         54263.649615
58        Denmark         60551.640172
70          Spain         38343.155224
71        Estonia         37925.116799
75        Finland         50810.527408
77         France         46712.010113
89         Greece         28377.394274
101       Hungary         33253.880030
111       Ireland         95237.241299
114       Iceland         55224.684802
115        Israel         42390.877554
116         Italy         41890.208794
119         Japan         41732.868615
143     Lithuania         39191.948714
145        Latvia         32212.393162
154        Mexico         18793.744539
176   Netherlands         59334.214839
177        Norway         63287.607008
180   New Zealand         44212.876475
190        Poland         34406.235101
194      Portugal         34090.731264
222      Slovenia         40124.260229
223        Sweden         54929.527336
244        Turkey         28113.736584
263  South Africa         13355.598709

In [5]:
df1 = pd.read_csv('unemployment_rate.csv') 
df1 = df1.loc[(df1["Country Name"].isin(country_list))][["Country Name","2020"]] # select and reduce
df1.rename(columns={"2020": "unemplyment_2020"}, inplace=True)
df1

     Country Name  unemplyment_2020
13      Australia              6.61
14        Austria              5.77
17        Belgium              6.01
29         Brazil             13.67
35         Canada              9.48
37    Switzerland              4.94
39          Chile             11.51
45       Colombia             15.44
48     Costa Rica             17.08
55        Germany              4.31
58        Denmark              5.66
70          Spain             15.67
71        Estonia              6.46
75        Finland              7.83
77         France              8.62
89         Greece             16.85
101       Hungary              4.35
111       Ireland              5.92
114       Iceland              5.01
115        Israel              4.61
116         Italy              9.31
119         Japan              2.97
143     Lithuania              8.43
145        Latvia              8.19
154        Mexico              4.71
176   Netherlands              4.09
177        Norway              4.62
180   New Zealand              4.55
190        Poland              3.55
194      Portugal              7.20
222      Slovenia              5.17
223        Sweden              8.45
244        Turkey             13.92
263  South Africa             28.74

In [6]:
df2 = pd.read_csv('political_regime.csv')   ## we only have democracy anyways... Not enough data for not else
df2 = df2.loc[(df2["Country"].isin(country_list))]
df2 = df2.loc[(True==pd.isnull(df2["end yr"]))][["Country","Regime type"]]
#df2 = df2.rename(columns={"Country": "Country "}, inplace=True)
df2

         Country Regime type
24     Australia   democracy
25       Austria   democracy
37       Belgium   democracy
62        Brazil   democracy
83        Canada   democracy
103     Colombia   democracy
114   Costa Rica   democracy
123      Denmark   democracy
146      Estonia   democracy
150      Finland   democracy
151       France   democracy
172       Greece   democracy
213      Hungary   democracy
214      Iceland   democracy
227      Ireland   democracy
228       Israel   democracy
229        Italy   democracy
233        Japan   democracy
252       Latvia   democracy
269    Lithuania   democracy
291       Mexico   democracy
309  Netherlands   democracy
310  New Zealand   democracy
326       Norway   democracy
363       Poland   democracy
366     Portugal   democracy
389     Slovenia   democracy
401        Spain   democracy
414       Sweden   democracy
415  Switzerland   democracy
451       Turkey   democracy

In [63]:
df3 = pd.read_csv('trust_in_government.csv')  
df3 = df3.loc[(df3["TIME"]==2019)][["LOCATION","Value"]]
df3.rename(columns={"Value": "trust_ingovernment_2019"}, inplace=True)
#df3 = df3.loc[(df3["LOCATION"].isin(country_list))] ##select countries
df3

    LOCATION  trust_ingovernment_2019
12       AUS                46.870001
26       AUT                51.233826
40       BEL                32.790115
55       CAN                54.928097
83       DNK                63.299903
96       FIN                63.918815
111      FRA                38.184924
126      DEU                56.846043
140      GRC                39.642462
154      HUN                48.393419
162      ISL                52.137706
176      IRL                58.121598
191      ITA                22.192586
206      JPN                41.121365
221      KOR                37.675759
233      LUX                78.017101
247      MEX                49.523116
261      NLD                61.657224
275      NZL                67.520084
285      NOR                59.798701
300      POL                49.798603
314      PRT                43.560500
326      SVK                23.097283
341      ESP                36.778586
356      SWE                51.328175
366      CHE                80.661271
380      TUR                56.126091
395      GBR                34.082886
410      USA                36.277444
425      BRA                34.085009
440      CHL                15.252345
455      COL                32.798110
470      CRI                28.302385
484      EST                40.330654
499      ISR                49.566691
513      LVA                23.940767
528      LTU                40.724846
543      RUS                43.696384
556      SVN                39.715071
571      ZAF                49.590632

In [64]:
df4 = pd.read_csv('secondary_education.csv')  
df4 = df4.loc[(df4["TIME"]==2019)].loc[(df4["SUBJECT"]=="UPPSRY")][["LOCATION","Value"]]
#df4 = df4.loc[(df4["Country Name"].isin(country_list))][["LOCATION","2019"]] # select countries
#df4 = df4.loc[(df4["LOCATION"].isin(country_list))][["LOCATION","2019"]]
df4.rename(columns={"Value": "secondary_education_2019"}, inplace=True)
df4

     LOCATION  secondary_education_2019
9         AUT                    77.636
33        BEL                    77.047
50        CAN                    84.317
79        CZE                    80.510
104       DNK                    81.629
137       FIN                    84.907
164       DEU                    73.092
180       GRC                    91.409
203       HUN                    77.257
232       ISL                    80.011
266       ITA                    89.629
276       KOR                    95.814
297       LUX                    72.229
330       MEX                    66.332
360       NLD                    82.851
387       NZL                    85.911
420       NOR                    83.578
453       POL                    83.227
486       PRT                    79.362
519       SVK                    76.938
552       ESP                    74.744
585       SWE                    70.380
613       CHE                    83.669
636       TUR                    76.235
662       GBR                    65.608
681       USA                    86.606
709       BRA                    65.083
732       CHL                    90.132
759       COL                    77.038
772       EST                    80.195
789       ISR                    89.991
821       LVA                    83.690
847       SVN                    90.889
1442      CRI                    53.251
1463      LTU                    84.818
1526     OAVG                    80.322

In [122]:
df5 = pd.read_csv('tertiary_education.csv')[["LOCATION","SUBJECT", "TIME", "Value"]]
df5 = df5.loc[(df5["TIME"]==2019)].loc[(df5["SUBJECT"]=="BACHR_MEN")|(df5["SUBJECT"]=="BACHR_WOMEN")]
df5.rename(columns={"TIME": "tertiary_education_2019"}, inplace=True)

#df5 = df5.loc[(df5["Country Name"].isin(country_list))][["Country Name","TIME"]]  # select countries
df5 = df5.pivot(index="LOCATION", columns="SUBJECT", values="Value")
df5['tertiary_education_2019'] = df5["BACHR_MEN"] + df5['BACHR_WOMEN']
df5 = df5["tertiary_education_2019"].to_frame()
df5 = df5.reset_index()  
df5

   LOCATION  tertiary_education_2019
0       AUS                   69.343
1       AUT                   37.418
2       BEL                   80.736
3       CHE                   72.556
4       CHL                   52.185
5       CZE                   50.212
6       DEU                   64.156
7       DNK                   81.471
8       ESP                   63.931
9       EST                   54.380
10      FIN                   72.916
11      GBR                   75.625
12      GRC                   75.157
13      HUN                   37.610
14      ISL                   64.937
15      ITA                   59.015
16      LTU                   91.839
17      LUX                   11.467
18      LVA                   53.538
19      NLD                   77.671
20      NOR                   75.057
21      NZL                   61.803
22     OAVG                   61.747
23      PRT                   67.364
24      SVK                   50.255
25      SVN                   70.610
26      SWE                   35.828
27      TUR                   60.084

In [123]:
df6 = pd.read_csv('worldwide_covid_data.csv')                                 
df6.rename(columns={"Country": "Country Name"}, inplace=True)
df6 = df6.loc[(df6["Country Name"].isin(country_list))][["Country Name","Deaths/1M population"]]
df6

     Country Name  Deaths/1M population
9       Australia                    71
10        Austria                  1273
17        Belgium                  2247
25         Brazil                  2842
33         Canada                   765
37          Chile                  1959
39       Colombia                  2472
42     Costa Rica                  1391
48        Denmark                   471
58        Estonia                  1222
62        Finland                   218
63         France                  1803
69        Germany                  1157
71         Greece                  1585
81        Hungary                  3274
82        Iceland                    99
87        Ireland                  1096
88         Israel                   872
89          Italy                  2196
92          Japan                   145
99         Latvia                  1917
105     Lithuania                  2312
117        Mexico                  2216
127   Netherlands                  1083
129   New Zealand                     6
134        Norway                   169
143        Poland                  2063
144      Portugal                  1794
163      Slovenia                  2335
165  South Africa                  1482
167         Spain                  1872
172        Sweden                  1476
173   Switzerland                  1294
183        Turkey                   847

In [124]:
data = pd.merge(df, df0, on="Country Name")
data = pd.merge(data, df1, on="Country Name")
#data = pd.merge(data, df2, on="Country Name")  ## sowieso alles Demokratien
data = pd.merge(data, df6, on="Country Name")

data

,Country Name,people_fully_vaccinated_per_hundred,gdp_per_capita_2020,unemplyment_2020,Deaths/1M population
0,Australia,61.01,52397.387048,6.61,71
1,Austria,62.03,55648.874565,5.77,1273
2,Belgium,73.63,52626.581638,6.01,2247
3,Brazil,52.13,14829.890417,13.67,2842
4,Canada,73.73,48090.992167,9.48,765
5,Chile,76.72,25067.691601,11.51,1959
6,Colombia,40.42,14570.236743,15.44,2472
7,Costa Rica,NaN,21143.342817,17.08,1391
8,Denmark,75.72,60551.640172,5.66,471
9,Estonia,56.70,37925.116799,6.46,1222
10,Finland,68.51,50810.527408,7.83,218
11,France,67.70,46712.010113,8.62,1803
12,Germany,65.77,54263.649615,4.31,1157
13,Greece,61.20,28377.394274,16.85,1585
14,Hungary,59.39,33253.880030,4.35,3274
15,Iceland,NaN,55224.684802,5.01,99
16,Ireland,75.23,95237.241299,5.92,1096
17,Israel,61.64,42390.877554,4.61,872
18,Italy,70.92,41890.208794,9.31,2196
19,Japan,70.45,41732.868615,2.97,145
20,Latvia,52.64,32212.393162,8.19,1917
21,Lithuania,63.67,39191.948714,8.43,2312
22,Mexico,41.34,18793.744539,4.71,2216
23,Netherlands,NaN,59334.214839,4.09,1083
24,New Zealand,58.40,44212.876475,4.55,6
25,Norway,68.28,63287.607008,4.62,169
26,Poland,52.51,34406.235101,3.55,2063
27,Portugal,87.19,34090.731264,7.20,1794
28,Slovenia,53.50,40124.260229,5.17,2335
29,South Africa,19.48,13355.598709,28.74,1482
30,Spain,79.69,38343.155224,15.67,1872
31,Sweden,NaN,54929.527336,8.45,1476
32,Switzerland,62.92,71760.586213,4.94,1294
33,Turkey,56.70,28113.736584,13.92,847

In [125]:
data2 = pd.merge(df3, df4, on="LOCATION")
data2 = pd.merge(data2, df5, on="LOCATION")

data2

,LOCATION,trust_ingovernment_2019,secondary_education_2019,tertiary_education_2019
0,AUT,51.233826,77.636,37.418
1,BEL,32.790115,77.047,80.736
2,DNK,63.299903,81.629,81.471
3,FIN,63.918815,84.907,72.916
4,DEU,56.846043,73.092,64.156
5,GRC,39.642462,91.409,75.157
6,HUN,48.393419,77.257,37.610
7,ISL,52.137706,80.011,64.937
8,ITA,22.192586,89.629,59.015
9,LUX,78.017101,72.229,11.467
10,NLD,61.657224,82.851,77.671
11,NZL,67.520084,85.911,61.803
12,NOR,59.798701,83.578,75.057
13,PRT,43.560500,79.362,67.364
14,SVK,23.097283,76.938,50.255
15,ESP,36.778586,74.744,63.931
16,SWE,51.328175,70.380,35.828
17,CHE,80.661271,83.669,72.556
18,TUR,56.126091,76.235,60.084
19,GBR,34.082886,65.608,75.625
20,CHL,15.252345,90.132,52.185
21,EST,40.330654,80.195,54.380
22,LVA,23.940767,83.690,53.538
23,LTU,40.724846,84.818,91.839
24,SVN,39.715071,90.889,70.610