In [1]:
# Imports

import pandas as pd

## 1. Load Data 

In the first step we need to load our data

In [2]:
vax_rates = pd.read_csv('COVID-19_vaccination_rates.csv') 
vax_rates = vax_rates.loc[(vax_rates["date"]=="2021-10-25")]
vax_rates = vax_rates[["location","people_fully_vaccinated_per_hundred"]]
vax_rates.rename(columns={'location': 'Country Name'}, inplace=True)
vax_rates = vax_rates.loc[(vax_rates["people_fully_vaccinated_per_hundred"]==vax_rates["people_fully_vaccinated_per_hundred"])]
vax_rates

            Country Name  people_fully_vaccinated_per_hundred
568               Africa                                 5.53
901              Albania                                30.57
2713           Argentina                                55.56
3219               Aruba                                71.37
3578                Asia                                41.54
...                  ...                                  ...
65140            Vietnam                                22.23
65472              Wales                                70.69
65732  Wallis and Futuna                                49.25
66097              World                                37.62
66838           Zimbabwe                                16.88

[122 rows x 2 columns]

In [3]:
gdp = pd.read_csv('gdp_per_capita.csv') 
gdp = gdp[["Country Name","2020"]]
gdp.rename(columns={'2020': 'gdp_per_capita_2020'}, inplace=True)
gdp = gdp.loc[(gdp["gdp_per_capita_2020"]==gdp["gdp_per_capita_2020"])]
gdp = gdp.set_index('Country Name')
gdp

                             gdp_per_capita_2020
Country Name
Africa Eastern and Southern          3677.111255
Afghanistan                          2077.874554
Africa Western and Central           4240.534782
Angola                               6443.032680
Albania                             13899.933981
...                                          ...
Samoa                                6766.228447
Kosovo                              11383.404733
South Africa                        13355.598709
Zambia                               3456.322534
Zimbabwe                             3536.034132

[237 rows x 1 columns]

In [4]:
# Change gov_trst from Country code to country name
codes = pd.read_csv('country_codes.csv')

lookup_table = codes[['Alpha-3 code','Country']]

# Lookup table to dict
c_map = {}
for i, t in lookup_table.iterrows():
    key = t[0][2:5]
    val = t[1]
    
    c_map[key] = val
    
trust_in_gov = pd.read_csv('trust_in_government.csv') 
    
# enhance government trust df
trust_in_gov = trust_in_gov.assign(country=trust_in_gov['LOCATION'].map(c_map))
 
trust_in_gov = trust_in_gov.loc[(trust_in_gov["TIME"]==2019)][["country","Value"]]
trust_in_gov.rename(columns={"Value": "trust_in_government_2019"}, inplace=True)
trust_in_gov

            country  trust_in_government_2019
12        Australia                 46.870001
26          Austria                 51.233826
40          Belgium                 32.790115
55           Canada                 54.928097
83          Denmark                 63.299903
96          Finland                 63.918815
111          France                 38.184924
126         Germany                 56.846043
140          Greece                 39.642462
154         Hungary                 48.393419
162         Iceland                 52.137706
176         Ireland                 58.121598
191           Italy                 22.192586
206           Japan                 41.121365
221     South Korea                 37.675759
233      Luxembourg                 78.017101
247          Mexico                 49.523116
261     Netherlands                 61.657224
275     New Zealand                 67.520084
285          Norway                 59.798701
300          Poland                 49.798603
314        Portugal                 43.560500
326        Slovakia                 23.097283
341           Spain                 36.778586
356          Sweden                 51.328175
366     Switzerland                 80.661271
380          Turkey                 56.126091
395  United Kingdom                 34.082886
410   United States                 36.277444
425          Brazil                 34.085009
440           Chile                 15.252345
455        Colombia                 32.798110
470      Costa Rica                 28.302385
484         Estonia                 40.330654
499          Israel                 49.566691
513          Latvia                 23.940767
528       Lithuania                 40.724846
543          Russia                 43.696384
556        Slovenia                 39.715071
571    South Africa                 49.590632

In [5]:
secondary_edu = pd.read_csv('secondary_education.csv')  
secondary_edu = secondary_edu.loc[(secondary_edu["TIME"]==2019)].loc[(secondary_edu["SUBJECT"]=="UPPSRY")][["LOCATION","Value"]]
secondary_edu.rename(columns={"Value": "secondary_education_2019"}, inplace=True)

# Lookup table to dict
c_map = {}
for i, t in lookup_table.iterrows():
    key = t[0][2:5]
    val = t[1]
    
    c_map[key] = val
        
# enhance government trust df
secondary_edu = secondary_edu.assign(country=secondary_edu['LOCATION'].map(c_map))
secondary_edu = secondary_edu[['country', 'secondary_education_2019']]

secondary_edu = secondary_edu.dropna()
secondary_edu

             country  secondary_education_2019
9            Austria                    77.636
33           Belgium                    77.047
50            Canada                    84.317
79    Czech Republic                    80.510
104          Denmark                    81.629
137          Finland                    84.907
164          Germany                    73.092
180           Greece                    91.409
203          Hungary                    77.257
232          Iceland                    80.011
266            Italy                    89.629
276      South Korea                    95.814
297       Luxembourg                    72.229
330           Mexico                    66.332
360      Netherlands                    82.851
387      New Zealand                    85.911
420           Norway                    83.578
453           Poland                    83.227
486         Portugal                    79.362
519         Slovakia                    76.938
552            Spain                    74.744
585           Sweden                    70.380
613      Switzerland                    83.669
636           Turkey                    76.235
662   United Kingdom                    65.608
681    United States                    86.606
709           Brazil                    65.083
732            Chile                    90.132
759         Colombia                    77.038
772          Estonia                    80.195
789           Israel                    89.991
821           Latvia                    83.690
847         Slovenia                    90.889
1442      Costa Rica                    53.251
1463       Lithuania                    84.818

In [6]:
tert_edu = pd.read_csv('tertiary_education.csv')[["LOCATION","SUBJECT", "TIME", "Value"]]
tert_edu = tert_edu.loc[(tert_edu["TIME"]==2019)].loc[(tert_edu["SUBJECT"]=="BACHR_MEN")|(tert_edu["SUBJECT"]=="BACHR_WOMEN")]
tert_edu.rename(columns={"Value": "tertiary_education_2019"}, inplace=True)

tert_edu = tert_edu.pivot(index="LOCATION", columns="SUBJECT", values="tertiary_education_2019")
tert_edu['tertiary_education_2019'] = tert_edu["BACHR_MEN"] + tert_edu['BACHR_WOMEN']
tert_edu = tert_edu["tertiary_education_2019"].to_frame()
tert_edu = tert_edu.reset_index() 

# Lookup table to dict
c_map = {}
for i, t in lookup_table.iterrows():
    key = t[0][2:5]
    val = t[1]
    
    c_map[key] = val
        
# enhance government trust df
tert_edu = tert_edu.assign(country=tert_edu['LOCATION'].map(c_map))

tert_edu = tert_edu[['country', 'tertiary_education_2019']]
tert_edu

           country  tertiary_education_2019
0        Australia                   69.343
1          Austria                   37.418
2          Belgium                   80.736
3      Switzerland                   72.556
4            Chile                   52.185
5   Czech Republic                   50.212
6          Germany                   64.156
7          Denmark                   81.471
8            Spain                   63.931
9          Estonia                   54.380
10         Finland                   72.916
11  United Kingdom                   75.625
12          Greece                   75.157
13         Hungary                   37.610
14         Iceland                   64.937
15           Italy                   59.015
16       Lithuania                   91.839
17      Luxembourg                   11.467
18          Latvia                   53.538
19     Netherlands                   77.671
20          Norway                   75.057
21     New Zealand                   61.803
22             NaN                   61.747
23        Portugal                   67.364
24        Slovakia                   50.255
25        Slovenia                   70.610
26          Sweden                   35.828
27          Turkey                   60.084

In [7]:
cov_data = pd.read_csv('./worldwide_covid_data.csv')
cov_deaths = cov_data.rename(columns={'Country':'location'})[['location','Deaths/1M population']].set_index('location')
cov_deaths

             Deaths/1M population
location
Afghanistan                   182
Albania                      1034
Algeria                       133
Andorra                      1679
Angola                         50
...                           ...
Venezuela                     176
Vietnam                       230
Yemen                          62
Zambia                        192
Zimbabwe                      310

[196 rows x 1 columns]

In [8]:
betterlife = pd.read_csv('./betterlifeindex_2019.csv')

health = betterlife 
health.rename(columns={"Country": "Country Name"}, inplace=True)
health = health[["LOCATION", "Country Name","Indicator", "Value"]].loc[(health["Inequality"]=="Total")]
health = health.loc[(health["Indicator"]=="Self-reported health")][["Country Name", "LOCATION", "Value"]]
health.rename(columns={"Value": "Self-reported_health_2019"}, inplace=True)
health = health.set_index('Country Name')
health

                LOCATION  Self-reported_health_2019
Country Name
Australia            AUS                       85.0
Austria              AUT                       70.0
Belgium              BEL                       74.0
Canada               CAN                       88.0
Czech Republic       CZE                       60.0
Denmark              DNK                       71.0
Finland              FIN                       70.0
France               FRA                       66.0
Germany              DEU                       65.0
Greece               GRC                       74.0
Hungary              HUN                       60.0
Iceland              ISL                       76.0
Ireland              IRL                       83.0
Italy                ITA                       71.0
Japan                JPN                       36.0
Korea                KOR                       33.0
Luxembourg           LUX                       69.0
Mexico               MEX                       66.0
Netherlands          NLD                       76.0
New Zealand          NZL                       88.0
Norway               NOR                       77.0
Poland               POL                       58.0
Portugal             PRT                       48.0
Slovak Republic      SVK                       66.0
Spain                ESP                       72.0
Sweden               SWE                       75.0
Switzerland          CHE                       78.0
Turkey               TUR                       69.0
United Kingdom       GBR                       69.0
United States        USA                       88.0
Chile                CHL                       57.0
Estonia              EST                       53.0
Israel               ISR                       84.0
Latvia               LVA                       47.0
Russia               RUS                       43.0
Slovenia             SVN                       64.0
OECD - Total        OECD                       69.0
Lithuania            LTU                       43.0

In [9]:
life_exp = betterlife.loc[(betterlife["Indicator"]=="Life expectancy")][["Country Name", "LOCATION", "Value"]]
life_exp.rename(columns={"Value": "Life_expectancy_2019"}, inplace=True)
life_exp = life_exp.set_index('Country Name')
life_exp = life_exp[['Life_expectancy_2019']]
life_exp

                Life_expectancy_2019
Country Name
Australia                       82.5
Austria                         81.7
Belgium                         81.5
Canada                          81.9
Czech Republic                  79.1
...                              ...
Lithuania                       74.8
Colombia                        73.1
Lithuania                       69.5
Colombia                        79.4
Lithuania                       80.1

[123 rows x 1 columns]

In [10]:
work = betterlife.loc[(betterlife["Indicator"]=="Employees working very long hours")][["Country Name", "LOCATION", "Value"]]
work.rename(columns={"Value": "Employees_working_hours_2019"}, inplace=True)
work = work.set_index('Country Name')
work = work[['Employees_working_hours_2019']]
work

                Employees_working_hours_2019
Country Name
Australia                              13.04
Austria                                 6.66
Belgium                                 4.75
Canada                                  3.69
Czech Republic                          5.65
...                                      ...
Lithuania                               0.54
Colombia                               32.09
Lithuania                               0.67
Colombia                               19.37
Lithuania                               0.43

[117 rows x 1 columns]

In [11]:
df1 = pd.read_csv('unemployment_rate.csv') 
df1 = df1[["Country Name","2020"]] # select and reduce
df1.rename(columns={"2020": "unemplyment_2020"}, inplace=True)
df1=df1.loc[(df1["unemplyment_2020"]==df1["unemplyment_2020"])]